// Common
*, *::before, *::after {
    box-sizing: inherit;
}
html {
    -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
            box-sizing: border-box;
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #fff;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}
.container {
    max-width: 1150px;
    width: 90%;
    margin: 0 auto;
    padding: 0 10px;

    @media (max-width: 600px) {
                
    }
}
.section {
    padding: 8% 0;
    display: flex;
    align-items: center;

    @media (max-width: 750px) {
        padding: 5% 0;
    }

    &-text {
        font-size: 48px;
        text-align: center;
        font-weight: bold;

        @media (max-width: 750px) {
            font-size: 34px;
        }

        @media (max-width: 550px) {
            font-size: 28px;
        }
    }
}



// header
.header {
    padding: 8px 0;
    background-color: #fff;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.15);
    transition: all 0.4s ease;

    &--fixed {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: #fff;
        z-index: 2000;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-logo {

        &__link {
            display: block;
        }

        &__img {
            max-width: 100%;
        }
    }

    &-nav {

        @media (max-width: 750px) {
            display: none;
        }

        &__list {
            display: flex;

            @media (max-width: 750px) {
                flex-direction: column;
            }
        }

        &__item {

            @media (max-width: 750px) {
                    
                &:not(:last-child) {
                    margin-bottom: 4px;
                }
            }

            & + & {
                margin-left: 40px;

                @media (max-width: 870px) {
                    margin-left: 20px;
                }
                @media (max-width: 750px) {
                    margin-left: 0;
                }
            }
        }

        &__link {
            position: relative;
            font-size: 12px;
            color: #505d68;
            text-transform: uppercase;

            @media (max-width: 750px) {
                font-size: 14px;
            }

            &:after {
                content: '';
                height: 2px;
                width: 0;
                position: absolute;
                bottom: -5px;
                left: 0;
                background-color: #1d4ca6;
                transition: all .3s;

                @media (max-width: 750px) {
                    bottom: -2px;    
                }
            }

            &:hover {

                &:after {
                    width: 100%;
                }
            }
        }
    }
    
    .nav-toggle {
        display: none;
        color: #000;
        font-size: 24px;

        @media (max-width: 750px) {
            display: block;
        }
    }
}



// banner
.banner {
    min-height: 600px;
    background: url(../img/bg_1.jpg) no-repeat;
    background-position: center center;
    background-size: cover;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 860px) {
            flex-direction: column;
        }
    }
    
    &-info {
        max-width: 50%;

        @media (max-width: 860px) {
            margin-bottom: 60px;
            max-width: 100%;
        }

        .info {

            &-heading {
                margin-bottom: 50px;
                display: inline-block;
                font-size: 56px;
                font-weight: bold;
                text-align: left;

                @media (max-width: 1000px) {
                    font-size: 40px;
                }

                @media (max-width: 650px) {
                    font-size: 34px;
                }
            }

            &-date {
                margin-bottom: 25px;
                display: block;
                font-size: 36px;
                color: rgba(#fff, 0.8);
                font-weight: bold;
                text-align: right;

                @media (max-width: 1000px) {
                    font-size: 24px;
                }

                @media (max-width: 860px) {
                    text-align: center;
                }

                @media (max-width: 650px) {
                    font-size: 30px;
                }
            }
        }

        .banner-adv {

            &__item {
                display: flex;
                align-items: center;

                &:not(:last-child) {
                    margin-bottom: 20px;
                }

                .circle {
                    margin-right: 20px;
                    height: 24px;
                    width: 24px;
                    background-color: #1d4ca6;
                    border: 5px solid #fff;
                    border-radius: 50%;
                    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.34);
                }

                .text {
                    font-size: 16px;
                    line-height: 1.3;

                    @media (max-width: 860px) {
                        font-size: 24px;
                        line-height: 1.3;
                    }

                    @media (max-width: 650px) {
                        font-size: 18px;
                    }
                }
            }
        }
    }

    &-form {
        max-width: 50%;

        @media (max-width: 860px) {
            max-width: 100%;
        }

        .form {
            padding: 40px;
            width: 360px;
            background-color: #fff;
            text-align: center;

            @media (max-width: 500px) {
                width: 300px;
            }
            
            &-cost {
                margin-bottom: 10px;
                color: rgba(#15243f, .6);
                font-size: 16px;
            }

            &-oldcost {
                margin-bottom: 15px;
                color: rgba(#15243f, .7);
                font-size: 28px;

                .number {
                    position: relative;
                    
                    &:after {
                        content: '';
                        height: 2px;
                        width: 100%;
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: rotate(-25deg);
                        background-color: #ff5656;
                    }
                }
            }

            &-newcost {
                margin-bottom: 20px;
                color: #15243f;
                font-size: 36px;
            }

            input {
                padding: 12px 10px;
                width: 100%;
                display: block;
                color: #15243f;
                border: 1px solid rgba(#1d4ca6, .4);
                border-radius: 4px;

                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }

                &::placeholder {
                    color: rgba(#1d4ca6, .4);
                }

                &:focus {
                    
                }

                &[type=submit] {
                    background-color: #1d4ca6;
                    color: #fff;
                    font-size: 12px;
                    text-align: center;
                    text-transform: uppercase;
                    border: none;
                    border-radius: 0;
                    cursor: pointer;
                }

                &:not(:last-child) {
                    margin-bottom: 15px;
                }
            }
        }
    }
}



.what {

    .section-text {
        margin-bottom: 45px;
        color: #15243f;
    }

    .what-list {
        display: flex;
        justify-content: space-between;

        @media (max-width: 860px) {
            flex-direction: column;
        }
    }

    .what-item {
        flex: 1;

        @media (max-width: 860px) {
            display: flex;
            flex-direction: column;
            margin-bottom: 90px;
        }

        &__img {
            margin-bottom: 10px;

            @media (max-width: 860px) {
                align-self: center;
            }
            
            @media (max-width: 500px) {
                align-self: flex-start;
            }

            img {
                max-width: 100%;
            }
        }

        &__category {
            margin-bottom: 20px;
            color: #15243f;
            font-size: 24px;
            font-weight: bold;
            
            @media (max-width: 860px) {
                align-self: center;
            }
            
            @media (max-width: 500px) {
                align-self: flex-start;
            }
        }

        .what-features {

            &__list {

                @media (max-width: 860px) {
                    padding-left: 10%;
                    align-self: center;
                }

                @media (max-width: 500px) {
                    padding-left: 20%;
                    align-self: flex-start;
                }
            }

            &__item {

                &:not(:last-child) {
                    margin-bottom: 15px;
                }

                .text {
                    padding-left: 20px;
                    position: relative;
                    font-size: 16px;
                    line-height: 1.5;
                    color: rgba(#15243f, .8);

                    &:before {
                        content: '';
                        height: 10px;
                        width: 10px;
                        position: absolute;
                        top: 50%;
                        left: 0;
                        transform: translateY(-50%);
                        background-color: #1d4ca6;
                        border-radius: 50%;
                    }
                }
            }
        }
    }
}



.experts {
    background-color: #424b5a;
    padding-bottom: 0;
    
    .section-text {
        margin-bottom: 80px;

        @media (max-width: 750px) {
            margin-bottom: 40px;
        }
    }


    &-list {
        color: #fff;

        .btn-next,
        .btn-prev {
            position: absolute;
            bottom: 30px;
            color: #c2d1d9;
            z-index: 99;
            cursor: pointer;

            @media (max-width: 850px) {
                font-size: 24px;
            }
        }

        .btn-next {
            right: 0;
        }

        .btn-prev {
            right: 50px;
        }
    }

    &-item {
        display: flex !important;

        @media (max-width: 850px) {
            flex-direction: column;
        }

        &__img {
            position: relative;
            padding-bottom: 30px;
            width: 50%;

            @media (max-width: 850px) {
                height: 250px;
                width: 100%;
            }

            @media (max-width: 600px) {
                padding-bottom: 0;
            }

            .img-wrap {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);

                @media (max-width: 850px) {
                    height: 100%;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    bottom: 0;
                }

                img {
                    max-width: 400px;

                    @media (max-width: 1000px) {
                        max-width: 300px;
                    }
                    @media (max-width: 850px) {
                        max-width: 60%;
                    }
                }
            }
        }

        &__info {
            padding-bottom: 30px;
            width: 50%;

            @media (max-width: 850px) {
                width: 100%;
            }

            .info-text {
                position: relative;
                font-size: 16px;
                line-height: 1.5;

                @media (max-width: 600px) {
                    padding-top: 20px;
                }

                &-quote {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: -46px;
                    font-size: 46px;
                    color: rgba(0, 0, 0, 0.7);
                    opacity: .2;

                    @media (max-width: 750px) {
                        display: none;
                    }
                }
            }

            .info {

                &-list {
                    margin-bottom: 40px;
                    padding-top: 40px;
                }

                &-item {
                    padding-left: 20px;
                    position: relative;

                    &:before {
                        content: '';
                        height: 5px;
                        width: 5px;
                        position: absolute;
                        top: 50%;
                        left: 0;
                        transform: translateY(-50%);
                        background-color: #fff;
                        border-radius: 50%;
                    }

                    &:not(:last-child) {
                        margin-bottom: 10px;
                    }
                }
            }

            .info-name {
                margin-bottom: 5px;
                color: rgba(#fff, .5);
                font-size: 16px;
            }

            .info-role {
                margin-bottom: 25px;
                font-size: 14px;
            }

            .info-social {

                &__list {

                    @media (max-width: 750px) {
                        text-align: center;
                    }
                }

                &__item {
                    margin-right: 12px;
                    display: inline-block;
                }

                &__link {
                    height: 36px;
                    width: 36px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #fff;
                    border-radius: 50%;
                }
            }
        }
    }
}



.spot {
    min-height: 400px;
    background: url(../img/bg_2.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;

    @media (max-width: 600px) {
        min-height: 0;
    }

    &-mark {
        margin: 20px auto;
        height: 70px;
        width: 70px;
        background: #fff url(../img/icons/mark.svg) no-repeat;
        background-position: center center;
        border-radius: 50%;
    }

    &-location {
        margin-bottom: 20px;
        font-size: 36px;
        font-weight: bold;
    }

    &-descr {
        font-size: 16px;
        line-height: 1.5;
    }
}



.fb {
    color: #15243f;

    .section-text {
        margin-bottom: 80px;
        color: #15243f;

        @media (max-width: 900px) {
            margin-bottom: 0;       
        }
    }

    &-list {
        display: flex;
        position: relative;

        .btn-next,
        .btn-prev {
            position: absolute;
            bottom: -30px;
            color: #c2d1d9;
            z-index: 99;
            cursor: pointer;

            @media (max-width: 750px) {
                bottom: -10px;
            }
        }

        .btn-prev {
            margin-right: 10%;
            right: 50%;

            @media (max-width: 750px) {
                margin-right: 15%;    
            }
        }

        .btn-next {
            margin-left: 10%;
            left: 50%;

            @media (max-width: 750px) {
                margin-left: 15%;
            }
        }

        .slick-dots {
            position: absolute;
            bottom: -30px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1000;

            @media (max-width: 750px) {
                bottom: -15px;    
            }

            li {
                height: 10px;
                width: 10px;
                display: inline-block;
                border-radius: 50%;
                border: 1px solid rgba(#15243f, .5);
                cursor: pointer;

                &.slick-active {
                    background-color: #1d4ca6;
                    border: 1px solid transparent;
                }

                &:not(:last-child) {
                    margin-right: 15px;
                }

                button {
                    background-color: transparent;
                    text-indent: -9999px;
                }
            }
        }
    }

    &-item {
        min-height: 500px;
        padding: 45px 30px;
        width: 33%;
        text-align: center;
        display: flex !important;
        justify-content: space-between;
        flex-direction: column;

        @media (max-width: 900px) {
            min-height: auto;
        }

        &__text {
            margin-bottom: 45px;
            color: rgba(#15243f, .8);
            font-size: 16px;
            line-height: 1.5;
        }

        &__avatar {
            margin: auto auto 10px;
            height: 100px;
            width: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #eee;
            border-radius: 50%;
            overflow: hidden;

            img {
                max-width: 100%;
            }
        }

        &__name {
            margin-bottom: 5px;
            color: rgba(#15243f, .8);
            font-size: 16px;
            line-height: 1.5;
        }

        &__role {
            color: rgba(#15243f, .5);
            font-size: 14px;
        }
    }
}



.go {
    min-height: 500px;
    background: url(../img/bg_3.jpg) no-repeat;
    background-position: 100% 100%;
    background-size: cover;
    text-align: center;

    @media (max-width: 750px) {
        min-height: 0;                
    }

    .section-text {
        margin-bottom: 55px;
        line-height: 1.5;
    }

    &-link {
        min-width: 300px;
        max-width: 500px;
        margin-bottom: 20px;
        padding: 12px;
        background-color: #1d4ca6;
        text-align: center;
        color: #fff;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 1px;
        border: 2px solid transparent;
        cursor: pointer;
        transition: all .3s;

        @media (max-width: 600px) {
            min-width: 150px;
        }

        &:hover {
            border: 2px solid #1d4ca6;
            background-color: transparent;
        }
    }

    &-vk {
        margin: 0 auto;
        height: 36px;
        width: 36px;
        display: block;
        background: #fff url(../img/social/vk.svg) no-repeat;
        background-position: center center;
        border-radius: 50%;
        cursor: pointer;
    }
}



.footer {
    padding: 35px 0;

    .container {
        width: 360px;
        text-align: center;
    }
    
    &-logo {
        margin-bottom: 15px;
        display: inline-block;

        &__img {

        }
    }

    .description {
        color: rgba(#15243f, .8);
        font-size: 14px;
        line-height: 1.5;
    }
}